@{
    ViewData["Title"] = "Flow Meter API";
}

<div class="text-center">
    <h1 class="display-4">Flow Meter API</h1>
    <p>Make sure databases have been built and the connection string updated in the <b>appsettings.json</b> FlowMeterDB parameter.</p>
    <p>Authorization is turned off - To turn on uncomment the <b>Authorize</b> annotations in the FlowMeter and FlowMeterReadings controllers.<br />Then create account, confirm account and login.</p>
</div>
